body {background-color:#a3b9e0;
  color: #333;
body {font-family: 'Zen Kaku Gothic New', sans-serif;}
  padding: 6em;
  max-width: 700px;
  margin: auto;
  line-height: 2;
  font-size: 16px;}


h1 {font-size: 24px;
  color: #202f55;
  margin-bottom: 1em;
  text-align: left;}

a {text-decoration: none;
  color: #202f55;
  font-style: italic;}

.subtext {
  font-size: 0.9em;
  color: #202f55;
  margin-top: -0.5em;
  margin-bottom: 2em;
  font-style: italic;
  line-height: 1.6;
}

ul li {margin-bottom: 0.5em;}
ul li a {font-size: 1.1em;
  text-decoration: none;
  color: #555;}
ul li a: hover {color: #000;}


a:hover {  color: #000;}
